#review {
  padding: 50px 0;
  .review {
    &--top {
      width: clamp(320px, 80vw, 1300px);
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: clamp(320px, 80vw, 934px);
        height: 100%;
        &--inp {
          background: #e5e4e9;
          display: flex;
          align-items: center;
          gap: 15px;
          padding-left: 15px;
          border-radius: 40px;
          width: clamp(320px, 75vw, 777px);
          height: 100%;
          input {
            background: none;
            height: 100%;
            width: 90%;
            border: none;
            font-size: clamp(12px, 2vw, 20px);
            color: #5a5a5a;
          }
          a {
            color: #5a5a5a;
            font-size: clamp(12px, 2vw, 22px);
          }
        }
        h1 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 42px;
          height: 42px;
          background: #004a60;
          color: white;
          border-radius: 50%;
        }
      }
      &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &--text {
          h1 {
            font-family: Abril Fatface;
            font-weight: 400;
            font-style: Regular;
            font-size: clamp(8px, 2vw, 22px);
            line-height: 100%;
            color: #004a60;
          }
          h2 {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
          }
        }
        img {
          width: 52px;
          height: 52px;
          border-radius: 50%;
        }
      }
    }
    
  }
}
