@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sawarabi+Gothic&display=swap");
#fourcode {
  //   padding: 50px 0;
  min-height: 758px;
  .bggourr {
    background: rgba(0, 0, 0, 0.375);
    height: 758px;
    width: 100%;
    padding: 80px;
  }
  .fourcode {
    &--blocks {
      width: 600px;
      height: 530px;
      background: white;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__block {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 430px;
        height: 367px;
        h1 {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 32px;
          line-height: 100%;
          color: #181818;
          text-align: center;
        }
        p {
          font-family: Montserrat;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          color: #868889;
          text-align: center;
        }
        &--four {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          input {
            padding-left: 33px;
            background: #00000017;
            width: 90px;
            height: 90px;
            outline: none;
            font-size: 49px;
            border: none;
            border-radius: 10px;
            color: #004a60;
            & {
              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              -moz-appearance: textfield;
            }
          }
        }
        &--btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          button {
            width: 200px;
            border: none;
            border-radius: 10px;
            height: 60px;
            background: #004a60;
            color: white;
            font-size: 24px;
          }
        }
      }
    }
  }
}
// @media (max-width: 480px) {
//   .bggourr {
//     padding: 30px 10px;
//   }

//   .fourcode--blocks {
//     width: 100%;
//     height: auto;
//     padding: 20px;
//   }

//   .fourcode--blocks__block {
//     width: 100%;
//     height: auto;
//     gap: 30px;

//     h1 {
//       font-size: 24px;
//     }

//     p {
//       font-size: 16px;
//     }

//     &--four {
//       flex-wrap: wrap;
//       gap: 8px;

//       input {
//         width: 65px;
//         height: 65px;
//         font-size: 32px;
//       }
//     }

//     &--btn {
//       flex-direction: column;
//       gap: 10px;

//       button {
//         width: 100%;
//         font-size: 18px;
//         height: 50px;
//       }
//     }
//   }
// }
@media (max-width: 480px) {
  #fourcode {
    min-height: 100vh;

    .bggourr {
      height: 100vh;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fourcode {
      &--blocks {
        width: 100%;
        max-width: 350px;
        height: auto;
        min-height: 370px;
        padding: 30px 20px;

        &__block {
          width: 100%;
          height: auto;
          gap: 30px;

          h1 {
            font-size: 24px;
            line-height: 110%;
          }

          p {
            font-size: 11px;
            line-height: 120%;
            // padding: 0 10px;
          }

          &--four {
            gap: 8px;
            flex-wrap: wrap;

            input {
              width: 45px;
              height: 45px;
              font-size: 33px;
              padding-left: 12px;
            }
          }

          &--btn {
            // flex-direction: column;
            gap: 10px;

            button {
              width: 50%;
              height: 50px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}