* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  outline: none;
  font-size: 16px;
}
button {
  cursor: pointer;
}

textarea {
  outline: none;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 40px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}
