#personn {
  padding: 50px 0;
  .personn {
    &--top {
      width: clamp(320px, 80vw, 1300px);
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: clamp(320px, 80vw, 934px);
        height: 100%;
        &--inp {
          background: #e5e4e9;
          display: flex;
          align-items: center;
          gap: 15px;
          padding-left: 15px;
          border-radius: 40px;
          width: clamp(320px, 75vw, 747px);
          height: 100%;
          input {
            background: none;
            height: 100%;
            width: 90%;
            border: none;
            font-size: clamp(12px, 2vw, 20px);
            color: #5a5a5a;
          }
          a {
            color: #5a5a5a;
            font-size: clamp(12px, 2vw, 22px);
          }
        }
        h1 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 42px;
          height: 42px;
          background: #004a60;
          color: white;
          border-radius: 50%;
        }
      }
      &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &--text {
          h1 {
            font-family: Abril Fatface;
            font-weight: 400;
            font-style: Regular;
            font-size: clamp(8px, 2vw, 22px);
            line-height: 100%;
            color: #004a60;
          }
          h2 {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
          }
        }
        img {
          width: 52px;
          height: 52px;
          border-radius: 50%;
        }
      }
    }
    &--personal {
      margin: 20px 0;
      width: clamp(320px, 80vw, 1300px);
      //   height: clamp(150px, 32vh, 283px);
      height: clamp(120px, 30vh, 199px);

      border-radius: 15px;
      display: flex;
      //   align-items: flex-end;
      justify-content: space-between;
      &__left {
        display: flex;
        align-items: flex-end;
        position: relative;
        img {
          //   position: relative;
          width: 101px;
          height: 101px;
          border-radius: 50%;
        }
        a {
          position: absolute;
          left: 70px;
          color: white;
          bottom: -7px;
          font-size: clamp(12px, 3vw, 23px);
        }
        &--img {
          color: white;
          h1 {
            font-family: Abril Fatface;
            font-weight: 400;
            font-style: Regular;
            font-size: 24px;
            line-height: 100%;
          }
          h2 {
            font-family: Montserrat;
            font-weight: 400;
            font-style: Regular;
            font-size: 14px;
            line-height: 140%;
          }
        }
      }
      &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        h4 {
          background: white;
          color: #004a60;
          padding: 5px;
          margin: 10px;
          font-family: Montserrat;
          font-weight: 600;
          font-size: 14px;
          line-height: 100%;
          border-radius: 10px;
        }
        h3 {
          font-size: 24px;
          color: white;
        }
      }
    }
    &--inputs {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;
      h1 {
        font-family: Montserrat;
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        line-height: 100%;
        color: #004a60;
      }
      input {
        width: 556px;
        height: 43px;
        border-radius: 10px;
        border: 1px solid #27313882;
        padding-left: 15px;
      }
      &__pass {
        width: 556px;
        height: 43px;
        border-radius: 10px;
        border: 1px solid #27313882;
        input {
          width: 95%;
          height: 100%;
          border-radius: 10px;
          border: 1px solid #27313882;
          padding-left: 15px;
          border: none;
        }
      }
      &__inpname {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(5px, 1vw, 15px);
        width: 556px;

        h2 {
          font-family: Montserrat;
          font-weight: 400;
          font-size: clamp(5px, 3vw, 14px);
          line-height: 100%;
          color: #273138;
          padding-bottom: 5px;
        }
        input {
          width: clamp(113px, 24vw, 260px);
          height: clamp(12px, 5.5vw, 43px);
          border-radius: 10px;
          border: 1px solid #27313882;
          padding-left: 15px;
        }
        &--inp {
          &__bl {
            width: clamp(113px, 24vw, 260px);
            height: clamp(12px, 5.5vw, 43px);
            border: 1px solid #27313882;
            border-radius: 10px;
            select {
              border: none;
              appearance: none;
              outline: none;
              border-radius: 6px;
              // width: %;
            }
            input {
              border: none;
              height: 90%;
              width: 90%;
            }
          }
        }
      }
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sawarabi+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sawarabi+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sawarabi+Gothic&display=swap");
